<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.todo.mapper.OptDbMapper">
    
    <resultMap type="OptDb" id="OptDbResult">
        <result property="optName"    column="opt_name"    />
        <result property="optNum"    column="opt_num"    />
        <result property="optStage"    column="opt_stage"    />
        <result property="optLength"    column="opt_length"    />
        <result property="optDec"    column="opt_dec"    />
        <result property="optRemark"    column="opt_remark"    />
        <result property="optDec1"    column="opt_dec_1"    />
        <result property="optDec2"    column="opt_dec_2"    />
        <result property="optDec3"    column="opt_dec_3"    />
        <result property="optDec4"    column="opt_dec_4"    />
        <result property="optDec5"    column="opt_dec_5"    />
    </resultMap>

    <sql id="selectOptDbVo">
        select opt_name, opt_num, opt_stage, opt_length, opt_dec, opt_remark, opt_dec_1, opt_dec_2, opt_dec_3, opt_dec_4, opt_dec_5 from opt_db
    </sql>

    <select id="selectOptDbList" parameterType="OptDb" resultMap="OptDbResult">
        <include refid="selectOptDbVo"/>
        <where>  
            <if test="optName != null  and optName != ''"> and opt_name like concat('%', #{optName}, '%')</if>
            <if test="optStage != null  and optStage != ''"> and opt_stage like concat('%', #{optStage}, '%')</if>
            <if test="optLength != null  and optLength != ''"> and opt_length = #{optLength}</if>
            <if test="optDec != null  and optDec != ''"> and opt_dec = #{optDec}</if>
            <if test="optRemark != null  and optRemark != ''"> and opt_remark = #{optRemark}</if>
        </where>
    </select>
    
    <select id="selectOptDbByOptName" parameterType="String" resultMap="OptDbResult">
        <include refid="selectOptDbVo"/>
        where opt_name = #{optName}
    </select>

    <insert id="insertOptDb" parameterType="OptDb">
        insert into opt_db
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="optName != null">opt_name,</if>
            <if test="optNum != null">opt_num,</if>
            <if test="optStage != null">opt_stage,</if>
            <if test="optLength != null">opt_length,</if>
            <if test="optDec != null">opt_dec,</if>
            <if test="optRemark != null">opt_remark,</if>
            <if test="optDec1 != null">opt_dec_1,</if>
            <if test="optDec2 != null">opt_dec_2,</if>
            <if test="optDec3 != null">opt_dec_3,</if>
            <if test="optDec4 != null">opt_dec_4,</if>
            <if test="optDec5 != null">opt_dec_5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="optName != null">#{optName},</if>
            <if test="optNum != null">#{optNum},</if>
            <if test="optStage != null">#{optStage},</if>
            <if test="optLength != null">#{optLength},</if>
            <if test="optDec != null">#{optDec},</if>
            <if test="optRemark != null">#{optRemark},</if>
            <if test="optDec1 != null">#{optDec1},</if>
            <if test="optDec2 != null">#{optDec2},</if>
            <if test="optDec3 != null">#{optDec3},</if>
            <if test="optDec4 != null">#{optDec4},</if>
            <if test="optDec5 != null">#{optDec5},</if>
         </trim>
    </insert>

    <update id="updateOptDb" parameterType="OptDb">
        update opt_db
        <trim prefix="SET" suffixOverrides=",">
            <if test="optNum != null">opt_num = #{optNum},</if>
            <if test="optStage != null">opt_stage = #{optStage},</if>
            <if test="optLength != null">opt_length = #{optLength},</if>
            <if test="optDec != null">opt_dec = #{optDec},</if>
            <if test="optRemark != null">opt_remark = #{optRemark},</if>
            <if test="optDec1 != null">opt_dec_1 = #{optDec1},</if>
            <if test="optDec2 != null">opt_dec_2 = #{optDec2},</if>
            <if test="optDec3 != null">opt_dec_3 = #{optDec3},</if>
            <if test="optDec4 != null">opt_dec_4 = #{optDec4},</if>
            <if test="optDec5 != null">opt_dec_5 = #{optDec5},</if>
        </trim>
        where opt_name = #{optName}
    </update>

    <delete id="deleteOptDbByOptName" parameterType="String">
        delete from opt_db where opt_name = #{optName}
    </delete>

    <delete id="deleteOptDbByOptNames" parameterType="String">
        delete from opt_db where opt_name in 
        <foreach item="optName" collection="array" open="(" separator="," close=")">
            #{optName}
        </foreach>
    </delete>
</mapper>